@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Protest+Revolution&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --primary-color:#F48C06;
    --secondary-color: #E85D04;
    --accent1-color:#DC2F02;
    --accent2-color: #FAA307;

/* primary-color   F48C06  amarillo-naranja intenso
   secondary-color E85D04  naranja intenso
   accent1-color   DC2F02  naranja-rojo intenso
   accent2-color   FAA307  amarillo-pollo intenso*/


    --heading-font: 'Rethink Sans', sans-serif;
    --paragraph-font: 'Instrument Serif', serif;

    --nav-background-color: ivory;
    --nav-link-color: red;
    --nav-hover-link-color: orange;
    --nav-hover-background-color: ivory;
}

h1 {
    font-size: 30px;
    font-weight: bold; 
    text-align: center; 
    font-family: "Rethink Sans", sans-serif;
    color: var(--accent2-color);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

h2 {
    font-size: 18px;
    font-weight: bold; 
    text-align: center; 
    font-family: "Rethink Sans", sans-serif;
    color: var(--primary-color);

}

p {
    text-align: justify;
    font-size: 16px;
    font-family: "Instrument Serif", sans; 
}

.social-media-link {
    text-decoration: none; 
}

.hero img{
   display:block;
   width: 100%;
   height: auto;
   background-size: cover;
   background-position: center;
}

article {
    position: absolute;
    background-color: antiquewhite;
    padding: 20px;
}

article img {
    float:right;
}

header {
    display:grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;

}

.logo {
    width: 200px;
    border: 10px;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;

}

nav a{
    color:#DC2F02;
    text-decoration: none;
    font-family: "Rethink Sans", sans-serif;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 2fr;
}

.history-title{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.history-image{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

p:first-of-type{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

p:last-of-type{
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
}

.adventure-section{
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer-container footer {
    text-align: center;
}

.sociallinks {
    display: flex;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 75px;
    height: auto;
}

.footer-container  p {
  display: inline-block;
  vertical-align: middle;
}

.reserve-button {
    background-color: var(--accent1-color); 
    border: solid; 
    color: var(--accent2-color);
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    font-size: 18px; 
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block;
  }

  .reservar-btn:hover {
    background-color: yellow;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }


.trip-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .trip-table th, 
  .trip-table td {
    padding: 8px; 
    text-align: center; 
    border: none;
  }
  
  .trip-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color:#F48C06;
    text-align: center;
    size: 18px;
  }
  
  .trip-table tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .trip-table tr:hover td:nth-child(1),
  .trip-table tr:hover td:nth-child(2),
  .trip-table tr:hover td:nth-child(3) {
    background-color: #ddd; 
  }
  
  .trip-table img {
    width: 350px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }