@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Protest+Revolution&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --primary-color:#F48C06;
    --secondary-color: #E85D04;
    --accent1-color:#DC2F02;
    --accent2-color: #FAA307;

/* primary-color   F48C06  amarillo-naranja intenso
   secondary-color E85D04  naranja intenso
   accent1-color   DC2F02  naranja-rojo intenso
   accent2-color   FAA307  amarillo-pollo intenso*/


    --heading-font: 'Rethink Sans', sans-serif;
    --paragraph-font: 'Instrument Serif', serif;

    --nav-background-color: ivory;
    --nav-link-color: red;
    --nav-hover-link-color: orange;
    --nav-hover-background-color: ivory;
}

h1 {
    font-size: 20px;
    font-weight: bold; 
    text-align: center; 
    font-family: "Rethink Sans", sans-serif;
    color: var(--accent2-color);
    position: absolute;
}

p {
    text-align: justify;
    font-size: 16px;
    font-family: "Instrument Serif", sans; 
}

.social-media-link {
    text-decoration: none; 
}

.hero img{
   display:block;
   width: 100%;
   height: auto;
   background-size: cover;
   background-position: center;
}

article {
    position: absolute;
    background-color: antiquewhite;
    padding: 20px;
}

article img {
    float:right;
}

header {
    display:grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;

}

.logo {
    width: 200px;
    border: 10px;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;

}

nav a{
    color:#DC2F02;
    text-decoration: none;
    font-family: "Rethink Sans", sans-serif;
}

.grid-container1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 3;
}

.history-title{
    grid-column: 3/4;
    grid-row: 1/2;
}

.history-image{
    grid-column: 3/4;
    grid-row: 2/3;
}

p:first-of-type{
    grid-column: 1/3;
    grid-row: 2/3;
}

p:last-of-type{
    grid-column: 4/6;
    grid-row: 2/3;
}